
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        body {
            background: url("../images/login-img.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            font-family: 'Raleway', sans-serif;
        }

        .btn-group button {
            background-color: #4CAF50; /* Green background */
            border: 1px solid green; /* Green border */
            color: white; /* White text */
            padding: 10px 24px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            width: 50%; /* Set a width if needed */
            display: block; /* Make the buttons appear below each other */
        }

            .btn-group button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }

            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #3e8e41;
            }
        .logoutLblPos {
            position: fixed;
            right:5px;
            top: 8px;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar">
            <a href="/Account/FacultyHomePage" class="Button">Home</a>
            <form align="right" name="form1" method="post" action="log_out.php">
                <label class="logoutLblPos">
                    <a href="/Account/Login" class="Button">Logout</a>

            </form>
        </div>
        <center>
            <h2>Add New Course:</h2>
            <div class="btn-group">
                <form action="FacultyAddCourse" method="post">
                    <div class=" pass-w3l">
                        <br />Course id: <input class="pass" type="number" name="CourseId" placeholder="" required="" pattern="[0-9]{1,50}">
                        course Name: <input class="pass" type="text" name="CourseName" placeholder="" required="" pattern="[a-zA-z]{1,50}">
                        <br />Lecturer id: <input class="pass" type="number" name="LecturerId" placeholder="" required="" pattern="[0-9]{1,50}">

                        <br /> Day: <input class="pass" type="text" name="Day" placeholder="" required="" pattern="[a-zA-z]{1,9}">
                        Class: <input class="pass" type="text" name="Class" placeholder="" required="">
                        <br />Start Hour: <input class="pass" type="time" name="StartHour" placeholder="" required="">
                        End Hour: <input class="pass" type="time" name="EndHour" placeholder="" required="">
                        <br />moed A date:  <br /> day:<input class="pass" type="text" name="moedADay" placeholder="1-31" required="" pattern="[0-3][0-9]" maxlength="2"> month:<input class="pass" type="text" name="moedAMonth" placeholder="1-12" required="" pattern="[0-1][0-9]" maxlength="2">  year:<input class="pass" type="text" name="moedAYear" placeholder="1999-2999" required="" pattern="[1-2][0-9][0-9][0-9]" maxlength="4">
                        moed A Class: <input class="pass" type="text" name="MoedAClass" placeholder="" required="">
                        <br />moed B date:  <br /> day:<input class="pass" type="text" name="moedBDay" placeholder="1-31" required="" pattern="[0-3][0-9]" maxlength="2"> month:<input class="pass" type="text" name="moedBMonth" placeholder="1-12" required="" pattern="[0-1][0-9]" maxlength="2">  year:<input class="pass" type="text" name="moedBYear" placeholder="1999-2999" required="" pattern="[1-2][0-9][0-9][0-9]" maxlength="4">
                        moed B Class: <input class="pass" type="text" name="MoedBClass" placeholder="" required="">
                        @if ((string)@Session["error"] == "Course already exist")
                        {
                            <script style="color:white" type="text/javascript ">
                                alert("Course already exist");
                            </script>
                        }
                        @if ((string)@Session["error"] == "Lecturer Cannot register for this course due to overlapping schedule")
                        {
                            <script style="color:white" type="text/javascript ">
                                alert("Lecturer Cannot register for this course due to overlapping schedule");
                            </script>
                        }
                    </div>
                    <br />
                    <button>Submit</button>


            </div>
        </center>
    </div>


</body>
</html>