
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        body {
            background: url("../images/login-img.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            font-family: 'Raleway', sans-serif;
        }

        .btn-group button {
            background-color: #4CAF50; /* Green background */
            border: 1px solid green; /* Green border */
            color: white; /* White text */
            padding: 10px 24px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            width: 50%; /* Set a width if needed */
            display: block; /* Make the buttons appear below each other */
        }

            .btn-group button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }

            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #3e8e41;
            }
    </style>
</head>
<body>
    
    <div>
        <div class="navbar">
            <a href="/Account/FacultyHomePage" class="Button">Home</a>

        </div>

        <center>
          
            <h2>Update Exams Grades</h2>
            <div class="btn-group">
                <form action="/Faculty/FacultyUpdateExamsGrades" method="post">
                    <div class=" pass-w3l">
                        Course id: <input class="pass" type="number" name="CourseIdTB" placeholder="" required="" pattern="[0-9]{1,50}">
                        <br />Student id: <input class="number" type="text" name="StudentIdTB" placeholder="" required="" pattern="[0-9]{1,50}">
                        <br />New Grade A: <input class="number" type="text" name="NewGradeATB" placeholder="0-100" required="" pattern="[0-9]{1,3}">
                    </div>
                    <br />
                    <button>Update</button>

                </form>
                <form action="/Faculty/FacultyUpdateExamsGrades" method="post">
                    <div class=" pass-w3l">
                        Course id: <input class="pass" type="number" name="CourseIdTB" placeholder="" required="" pattern="[0-9]{1,50}">
                        <br />Student id: <input class="pass" type="number" name="StudentIdTB" placeholder="" required="" pattern="[0-9]{1,50}">
                        <br />New Grade B: <input class="pass" type="number" name="NewGradeBTB" placeholder="0-100" required="" pattern="[0-9]{1,3}">
                    </div>
                    <br />
                    <button>Update</button>

                </form>
                @if ((string)@Session["error"] == "Student not exist")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Student not exist");
                    </script>
                }
                @if ((string)@Session["error"] == "Course not exist")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Course not exist");
                    </script>
                }
                @if ((string)@Session["error"] == "The student not sign to this course")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("The student not sign to this course");
                    </script>
                }

            </div>
        </center>
    </div>


</body>
</html>