
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        body {
            background: url("../images/login-img.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            font-family: 'Raleway', sans-serif;
        }

        .btn-group button {
            background-color: #4CAF50; /* Green background */
            border: 1px solid green; /* Green border */
            color: white; /* White text */
            padding: 10px 24px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            width: 50%; /* Set a width if needed */
            display: block; /* Make the buttons appear below each other */
        }

            .btn-group button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }

            /* Add a background color on hover */
            .btn-group button:hover {
                background-color: #3e8e41;
            }
    </style>
</head>
<body>
    <div>
        <div class="navbar">
            <a href="/Account/FacultyHomePage" class="Button">Home</a>

        </div>
        <center>
            @if ((string)@Session["error"] == "Student Allready Exist in the System")
            {
                <script style="color:white" type="text/javascript ">
                    alert("Student Allready Exist in the System");
                </script>
            }
            <h2>Add New Student</h2>
            <div class="btn-group">
                <form action="FacultyAddStudent" method="post">
                    <div class=" pass-w3l">
                        UserId: <input class="pass" type="number" name="UserId" placeholder="" required="">
                        UserName: <input class="pass" type="text" name="UserName" placeholder="" required="" pattern="[A-Za-z]{1,50}">
                        <br /><br /> Password: <input class="pass" type="text" name="Password" placeholder="" required="" pattern="[a-zA-Z0-9]{1,50}">
                        FirstName: <input class="pass" type="text" name="FirstName" placeholder="" required="" pattern="[a-zA-Z]{1,50}">
                        <br /><br /> LastName: <input class="pass" type="text" name="LastName" placeholder="" required="" pattern="[a-zA-Z]{1,50}">
                    </div>
                    <br />
                    <button>Add Student</button>

                </form>
                <h2>Add Student To Course: </h2>
                @if ((string)@Session["error"] == "Student Allready Sign to this course")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Student Allready Sign to this course");
                    </script>
                }
                @if ((string)@Session["error"] == "Student not exist")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Student not exist");
                    </script>
                }
                @if ((string)@Session["error"] == "Course not exist")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Course not exist");
                    </script>
                }
                @if ((string)@Session["error"] == "Cannot register for course due to overlapping schedule")
                {
                    <script style="color:white" type="text/javascript ">
                        alert("Cannot register for course due to overlapping schedule");
                    </script>
                }
                <form action="FacultyAddStudent" method="post">
                    <div class=" pass-w3l">
                        Studentid: <input class="pass" type="number" name="Studentid" placeholder="" required="">
                        CourseId: <input class="pass" type="number" name="CourseId" placeholder="" required="">
                    </div>
                    <br />

                    <button>Add Student To Course</button>
                </form>
            </div>
        </center>
    </div>


</body>
</html>