@model project_new.Models.Account
<!DOCTYPE html>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentHomePage</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />
    <style>
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    </style >

    </head >
    <body >
    <div >
        <div class="navbar">
            <a href="/Account/StudentHomePage" class="Button"> Home</a>
            <a href="/Student/StudentExams" class="Button"> Exams</a>
            <a href="/Student/StudentCourse" class="Button"> Schedule</a>
            <a href="/Student/StudentGrades" class="Button"> Grades</a>


        </div>
    <h2 style="color:black" > Date : @DateTime.Now </h2 >
    <center>
        <h2 style="color:black"> ברוכים הבאים לדף הבית<br /></h2>
    </center>
    
    </div >

    </body >
    </html >
